checkpoint/wideresnet18_places365.pth.tar
__pycache__
*.pyc
static/CAM/*.jpg
static/CAM/*.png
static/upload/*.jpg
static/upload/*.png
static/upload/*.jpeg
static/army_base
static/web_army
static/web_building