<!doctype html>
<html style="margin: 10px 100px 200px 100px" align=center>
<body>
    <h1>Scene Recognition</h1>
    <img src="static/CogModal.png">

    <h2>Upload new File</h2>

    <form action=/upload method=post enctype=multipart/form-data>
        <p><input type=file name=file>
           <input type=submit value=Upload>
    </form>
    
    {% if img_test %}
    <img src="{{img_test}}">
    {% endif%}

    <form action=/question method=post>
           <input type=submit value=运行><br/>
    </form>

    {% if IO_predict %}
    <h2>Predictions</h2>
    <ul style="margin-left: 300px;" align=left>
        <li><b>Type of environment</b>: {{IO_predict}}</li>
        <li><b>Scene categories</b>: {{categories_pred}}</li>
        <li><b>Scene attributes</b>: {{attributes_pred}}</li>
        <li><b>Run time</b>: {{time}}</li>
        <li><b>Informative region for predicting the category is</b>:</li>
    </ul>
    <img src="{{img_CAM}}">
    {% endif%}

</body>
</html>